﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pCategory = ViewData["ProductCategory"];
    var pCode = ViewData["ProductCode"];
    var pTitle = ViewData["ProductTitle"];
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
    var umur_tertanggung = ViewData["Umur_tertanggung"];
    var gender_tertanggung = ViewData["gender_tertanggung"];
}

@using Sales.Illustration.Web.Extensions
@model Sales.Illustration.Web.ViewModel.PremiumAndInvestmentViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>

    @using (Html.BeginForm("ValidatePremiumAndInvestmentData", "UnitLink", FormMethod.Post, new { @id = "form" }))
    {
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    @if (pCategory.Equals("wizer"))
                    {
                        <div class="content-tittle-1">
                            <i class="p1"></i> Pilihan Wizer
                        </div>
                        <div class="row row-form" style="margin:0px -15px;">
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Unit Wizer
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.UnitWizer, new { @class = "form-control", @placeholder = "0" })
                                </div>
                                <div class="col-xs-2 pertahun-label">unit</div>
                            </div>
                        </div>
                    }
                    <div class="content-tittle-1">
                        <i class="p1"></i> Premi dan Uang Pertanggungan
                    </div>
                    <div class="row row-form" style="margin:0px -15px;">
                        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">
                                    Mata Uang
                                </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.MataUang, ViewData["currencies"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        @if (pCategory.Equals("single"))
                        {
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Premi Dasar Tunggal
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Premi Top Up Tunggal
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.TopupBerkala, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Rencana Masa Pembayaran Premi
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @if (Model.RencanaMasaPembayaran > 0)
                                    {
                                        @Html.TextBoxFor(m => m.RencanaMasaPembayaran, new { @class = "form-control", @placeholder = "0" })   
                                    }else{
                                        @Html.TextBoxFor(m => m.RencanaMasaPembayaran, new { @class = "form-control", @placeholder = "0", Value = "" })
                                    }
                                </div>
                                <div style="padding-top:5px;float:left;" class="col-xs-2">tahun</div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Cara Bayar
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
                                    @Html.DropDownListFor(m => m.CaraBayar, ViewData["paymentMethods"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Premi Dasar Berkala
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @if (pCategory.Equals("wizer"))
                                    {
                                        @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                    }
                                </div>
                                <div id="perTahunPremi" class="col-xs-2 pertahun-label">per tahun</div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Premi Top Up Berkala
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @if (pCategory.Equals("wizer"))
                                    {
                                        @Html.TextBoxFor(m => m.TopupBerkala, new { @class = "form-control", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.TopupBerkala, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                    }
                                </div>
                                <div id="perTahunTopUp" class="col-xs-2 pertahun-label">per tahun</div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">
                                        Premi Angsuran
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.PremiAngsuran, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div id="premiAngsuran" class="col-xs-2 pertahun-label">per tahun</div>
                            </div>
                        }
                        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">
                                    Uang Pertanggungan
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                            </div>
                        </div>
                        @if (!pCategory.Equals("single"))
                        {
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <i style="font-size: 12px;">Uang Pertanggungan Minimal 5 kali Premi Dasar Berkala dalam Setahun.</i>
                                </div>
                            </div>
                        }
                        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">
                                    Biaya Asuransi Dasar
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(m => m.BiayaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-4 pertahun-label">tahun pertama</div>
                        </div>
                    </div>

                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-selection.png" /> Pilihan dan Alokasi Dana Investasi
                    </div>
                    <div class="row row-form" style="margin:0px -15px;">
                        @{
                            for (var i = 0; i < Model.Investments.Count(); i++)
                            {
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            @Model.Investments[i].InvestmentName
                                        </label>
                                        @Html.HiddenFor(m => m.Investments[i].InvestmentCode)
                                        @Html.HiddenFor(m => m.Investments[i].InvestmentName)
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                        @Html.DropDownListFor(m => Model.Investments[i].Percentage, new SelectList(StaticDropdownValues.getPercentages(), "Value", "Text", Model.Investments[i].Percentage), new { @class = "form-control", onchange = "percentationChange(this)" })
                                    </div>
                                    <div style="padding-top:5px;float:left;">%</div>
                                </div>
                            }
                        }
                        <div class="col-lg-10 col-md-10 col-md-11 col-xs-12 jarak">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">
                                    Total
                                </label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" id="totalFund">
                                @Html.TextBoxFor(m => m.TotalInvestment, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            %
                        </div>
                    </div>
                    <input type="hidden" id="hdProductCat" value="@pCategory" />
                    <input type="hidden" id="hdProduct" value="@pCode" />
                    <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                    <input type="hidden" id="hdUmurTertanggung" value="@umur_tertanggung" />
                    <input type="hidden" id="hdGenderTertanggung" value="@gender_tertanggung" />
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToNasabahData", "UnitLink")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearUnitLinkPremiumAndInvestmentData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")

@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    var investmentCount = @Model.Investments.Count();
    var ajaxBusy = false;
    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }

        $(document).ajaxStart( function() { 
            ajaxBusy = true; 
        }).ajaxStop( function() {
            ajaxBusy = false;
        });

        var x = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
        $('#@Html.IdFor(m => m.UangPertanggungan)').attr("style","background-color:#eee");
        calculateInstallmentPremium();
        //$('#perTahunPremi').html('per ' + x.substring(0, x.length - 2));
        //$('#perTahunTopUp').html('per ' + x.substring(0, x.length - 2));
    });

    $('#@Html.IdFor(m => m.CaraBayar)').change(function () {
        var x = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();

        //$('#perTahunPremi').html('per ' + x.substring(0, x.length - 2));
        //$('#perTahunTopUp').html('per ' + x.substring(0, x.length - 2));
        calculateInstallmentPremium();
        validatePremi();
        validateTopup();
    });

    $('#@Html.IdFor(x => x.RencanaMasaPembayaran)').on('focusout change', function () {
        var x = $(this).val();
        if (isNumeric(toDecimalFormat(x))) {
            var prodCode = $('#hdProduct').val();

            getProduct(prodCode,'#@Html.IdFor(x => x.RencanaMasaPembayaran)', function (product) {
                var minPayment = product["MinPaymentYear"] / 12;
                var coverage_age=product["CovAge"] / 12;
                var umur= $('#hdUmurTertanggung').val();
                if(x!="")
                {
                    if (x < minPayment) {
                        alertify.alert("Minimal Masa Pembayaran Premi adalah " + minPayment + " tahun");
                        $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val("");
                    }
                    var total_umur=parseInt(x)+parseInt(umur);
                    if (total_umur>coverage_age)
                    {
                        var max= (product["CovAge"] / 12)- umur ;
                        alertify.alert("Maksimal Masa Pembayaran Premi adalah " + max + " tahun");
                        $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val("");
                    }
                }
            });
        }
        else {
            alertify.alert("Nilai Masa Pembayaran Premi harus angka.");
            $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val('');
        }
    });

    $('#@Html.IdFor(x => x.UnitWizer)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(m => m.UnitWizer)').val()))) {
            validatePremi();
        }
        else {
            alertify.alert("Nilai unit wizer harus angka.");
            $('#@Html.IdFor(m => m.UnitWizer)').val('');
            $('#@Html.IdFor(m => m.PremiBerkala)').val('');
            $('#@Html.IdFor(m => m.TopupBerkala)').val('');
            calculateInstallmentPremium();
        }
    });

    $('#@Html.IdFor(x => x.PremiBerkala)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(m => m.PremiBerkala)').val()))) {
            validatePremi();
        }
        else {
            var prodCat = $('#hdProductCat').val();

            if (prodCat == "single") {
                alertify.alert("Nilai Premi Dasar Tunggal harus angka.");
            }
            else {
                alertify.alert("Nilai Premi Dasar Berkala harus angka.");
            }

            $('#@Html.IdFor(m => m.PremiBerkala)').val('');
            calculateInstallmentPremium();
        }
    });

    $('#@Html.IdFor(x => x.TopupBerkala)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(m => m.TopupBerkala)').val()))) {
            validateTopup();
        }
        else {
            var prodCat = $('#hdProductCat').val();

            if (prodCat == "single") {
                alertify.alert("Nilai Premi Top Up Tunggal harus angka.");
            }
            else {
                alertify.alert("Nilai Premi Top Up Berkala harus angka.");
            }

            $('#@Html.IdFor(m => m.TopupBerkala)').val('');
            calculateInstallmentPremium();
        }
    });

    $('#@Html.IdFor(x => x.UangPertanggungan)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(m => m.UangPertanggungan)').val()))) {
            validateUP();
        }
        else {
            alertify.alert("Nilai Uang Pertanggungan harus angka.");
            $('#@Html.IdFor(m => m.UangPertanggungan)').val('');
            $('#@Html.IdFor(m => m.BiayaAsuransi)').val(0);
        }
    });

    function validatePremi() {
        var prodCode = $('#hdProduct').val();
        var prodCat = $('#hdProductCat').val();
        var premi = toDecimalFormat($('#@Html.IdFor(m => m.PremiBerkala)').val());
        var curr = $('#@Html.IdFor(m => m.MataUang)').val();
        if (curr == "IDR")
            curr = "Rp. ";

        if (prodCat == "single") {
            if (premi > 0) {
                getProduct(prodCode,'#@Html.IdFor(m => m.PremiBerkala)', function (product) {
                    var minPremi = product["MinBasicPremium"];
                    if (premi < minPremi) {
                        alertify.alert("Minimal nilai Premi Dasar Tunggal adalah " + curr + toMoneyFormat(minPremi));
                        $('#@Html.IdFor(m => m.PremiBerkala)').val("");
                        $('#@Html.IdFor(m => m.UangPertanggungan)').val("");
                    }
                    else {
                        var minAmtUP = product["MinAmountSumInsured"];
                        var minPercUP = product["MinPercSumInsured"];
                        var minUP = (parseInt(minPercUP) / 100) * parseInt(premi);

                        if (minAmtUP > minUP)
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minAmtUP));
                        else
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minUP));

                        calculateCOI($('#@Html.IdFor(m => m.UangPertanggungan)').val(),'#@Html.IdFor(m => m.BiayaAsuransi)', function (coi) {
                            $('#@Html.IdFor(m => m.BiayaAsuransi)').val(toMoneyFormat(roundNumber(coi, 0)));
                        });
                    }
                });
            }
        }
        else if (prodCat == "wizer") {
            var unit = $('#@Html.IdFor(m => m.UnitWizer)').val();

            if (unit > 0) {
                var pm = $('#@Html.IdFor(m => m.CaraBayar)').val();
                var carabayar = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
                carabayar = " per " + carabayar.substring(0, carabayar.length - 2);
                getMinAmountByPaymentMethod(prodCode, pm, "premi",'#@Html.IdFor(m => m.PremiBerkala)', function (result) {
                    var minPremi = result["MinAmount"];
                    premi = parseInt(unit) * parseInt(minPremi);
                    //premi = parseInt(unit);
                    getProduct(prodCode,'#@Html.IdFor(m => m.PremiBerkala)', function (product) {
                        var minAmtUP = product["MinAmountSumInsured"];
                        var minPercUP = product["MinPercSumInsured"];
                        var minTopUp = product["MinRegularTopUp"];

                        premi = parseInt(premi) * parseInt(pm);

                        var topup = (parseInt(minTopUp) / 100) * parseInt(premi);
                        $('#@Html.IdFor(m => m.PremiBerkala)').val(toMoneyFormat(premi));
                        $('#@Html.IdFor(m => m.TopupBerkala)').val(toMoneyFormat(topup));

                        //premi = parseInt(premi);
                        var minUP = (parseInt(minPercUP) / 100) * parseInt(premi);

                        if (minAmtUP > minUP)
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minAmtUP));
                        else
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minUP));

                        calculateCOI($('#@Html.IdFor(m => m.UangPertanggungan)').val(),'#@Html.IdFor(m => m.BiayaAsuransi)', function (coi) {
                            $('#@Html.IdFor(m => m.BiayaAsuransi)').val(toMoneyFormat(roundNumber(coi, 0)));
                        });

                        calculateInstallmentPremium();
                    });
                });
            }
        }
        else if (prodCat == "regular" || prodCat == "worksite" || prodCat == "preferred") {
            if (premi > 0) {
                var pm = $('#@Html.IdFor(m => m.CaraBayar)').val();
                var carabayar = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
                carabayar = " per " + carabayar.substring(0, carabayar.length - 2);
                getMinAmountByPaymentMethod(prodCode, pm, "premi",'#@Html.IdFor(m => m.PremiBerkala)', function (result) {
                    var minPremi = result["MinAmount"];

                    if (premi < (parseInt(minPremi) * parseInt(pm))) {
                        if (pm == "1") {
                            alertify.alert("Minimal nilai Premi Dasar Berkala adalah " + curr + toMoneyFormat(minPremi) + carabayar);
                        }
                        else {
                            alertify.alert("Minimal nilai Premi Dasar Berkala adalah " + curr + toMoneyFormat(minPremi) + carabayar + " (" + curr + toMoneyFormat(parseInt(minPremi) * parseInt(pm)) + " di setahunkan)");
                        }

                        $('#@Html.IdFor(m => m.PremiBerkala)').val("");
                        $('#@Html.IdFor(m => m.UangPertanggungan)').val("");
                        $('#@Html.IdFor(m => m.PremiBerkala)').val("");
                        $('#@Html.IdFor(m => m.TopupBerkala)').val("");
                        calculateInstallmentPremium();
                    }
                    else {
                        getProduct(prodCode,'#@Html.IdFor(m => m.PremiBerkala)', function (product) {
                            var minAmtUP = product["MinAmountSumInsured"];
                            var minPercUP = product["MinPercSumInsured"];

                            //premi = parseInt(premi) * parseInt(pm);
                            premi = parseInt(premi);
                            var minUP = (parseInt(minPercUP) / 100) * parseInt(premi);

                            if (minAmtUP > minUP)
                                $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minAmtUP));
                            else
                                $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minUP));

                            calculateCOI($('#@Html.IdFor(m => m.UangPertanggungan)').val(),'#@Html.IdFor(m => m.BiayaAsuransi)', function (coi) {
                                $('#@Html.IdFor(m => m.BiayaAsuransi)').val(toMoneyFormat(roundNumber(coi, 0)));
                            });

                            calculateInstallmentPremium();
                        });
                    }
                });
            }
        }
    }

    function validateTopup() {
        var prodCode = $('#hdProduct').val();
        var prodCat = $('#hdProductCat').val();
        var topup = toDecimalFormat($('#@Html.IdFor(m => m.TopupBerkala)').val());

        if (topup > 0)
        {
            var curr = $('#@Html.IdFor(m => m.MataUang)').val();
            var carabayar = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
            carabayar = " per " + carabayar.substring(0, carabayar.length - 2);

            if (curr == "IDR")
                curr = "Rp. ";

            if (prodCat == "regular" || prodCat == "worksite" || prodCat == "preferred") {
                var pm = $('#@Html.IdFor(m => m.CaraBayar)').val();
                getMinAmountByPaymentMethod(prodCode, pm, "topup",'#@Html.IdFor(m => m.TopupBerkala)', function (result) {
                    var minTopup = result["MinAmount"];

                    if (topup < (parseInt(minTopup) * parseInt(pm))) {
                        if (pm == "1") {
                            alertify.alert("Minimal nilai Premi Top Up Berkala adalah " + curr + toMoneyFormat(minTopup) + carabayar);
                        }
                        else {
                            alertify.alert("Minimal nilai Premi Top Up Berkala adalah " + curr + toMoneyFormat(minTopup) + carabayar + " (" + curr + toMoneyFormat(parseInt(minTopup) * parseInt(pm)) + " di setahunkan)");
                        }

                        $('#@Html.IdFor(m => m.TopupBerkala)').val("");
                    }

                    calculateInstallmentPremium();
                });
            }
            else if (prodCat == "single") {
                getProduct(prodCode,'#@Html.IdFor(m => m.TopupBerkala)', function (product) {
                    var minTopup = product["MinRegularTopUp"];

                    if (topup < minTopup) {
                        alertify.alert("Minimal nilai Premi Top Up Tunggal adalah " + curr + toMoneyFormat(minTopup));
                        $('#@Html.IdFor(m => m.TopupBerkala)').val("");
                    }
                });
            }
        }else
            calculateInstallmentPremium();
    }

    function validateUP() {
        var prodCode = $('#hdProduct').val();
        var prodCat = $('#hdProductCat').val();
        var up = toDecimalFormat($('#@Html.IdFor(m => m.UangPertanggungan)').val());
        var premi = toDecimalFormat($('#@Html.IdFor(m => m.PremiBerkala)').val());
        var umur = parseInt($('#hdUmurTertanggung').val());
        var gender = $('#hdGenderTertanggung').val() == "Wanita" ? "F" : "M";
        var maxJouvenille = 1000000000;
        if (up > 0)
        {
            var curr = $('#@Html.IdFor(m => m.MataUang)').val();
            if (curr == "IDR")
                curr = "Rp. ";

            getProduct(prodCode,'#@Html.IdFor(m => m.UangPertanggungan)', function (product) {
                getSAMultiplier(prodCode,umur,gender,'#@Html.IdFor(m => m.UangPertanggungan)', function(sa_mult){
                var minAmtUP = product["MinAmountSumInsured"];
                var minPercUP = product["MinPercSumInsured"];

                if (prodCat == "single") {
                    var minUP = (parseInt(minPercUP) / 100) * parseInt(premi);

                    if (up < minAmtUP || up < minUP) {
                        alertify.alert("Minimal nilai Uang Pertanggungan adalah " + minPercUP + "% dari Premi Dasar Tunggal dengan minimal jumlah " + curr + toMoneyFormat(minAmtUP));
                        if (minAmtUP > minUP)
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minAmtUP));
                        else
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minUP));
                    }
                }
                else {//if (prodCat == "regular") {
                    //var pm = $('#@Html.IdFor(m => m.CaraBayar)').val();
                    premi = parseInt(premi);// * parseInt(pm);
                    var minUP = (parseInt(minPercUP) / 100) * parseInt(premi);

                    if (up < minAmtUP || up < minUP) {
                        alertify.alert("Minimal nilai Uang Pertanggungan adalah " + (parseInt(minPercUP) / 100) + "x dari Premi Dasar Berkala tahunan dengan minimal jumlah " + curr + toMoneyFormat(minAmtUP));
                        if (minAmtUP > minUP)
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minAmtUP));
                        else
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(minUP));
                    }
                        if(prodCat == "preferred")
                        {
                            var maxSA = sa_mult * premi ;
                            var maxUP = umur < 17 ? maxJouvenille < maxSA ? maxJouvenille : maxSA : maxSA;
                            var maxPremi = maxUP / (parseInt(minPercUP) / 100);
                            
                            if(up > maxUP && maxUP != 0 && maxUP != undefined)
                            {
                                if(umur < 17 && maxUP == maxJouvenille)
                                {
                                    alertify.alert("Maksimal nilai Uang Pertanggungan untuk Tertanggung Jouvenille adalah " + curr + toMoneyFormat(maxUP));
                                    $('#@Html.IdFor(m => m.PremiBerkala)').val(toMoneyFormat(premi < maxPremi ? premi : maxPremi));
                                    calculateInstallmentPremiumWithoutValidate();
                                }
                                else
                                    alertify.alert("Maksimal nilai Uang Pertanggungan adalah " + curr + toMoneyFormat(maxUP));

                                $('#@Html.IdFor(m => m.UangPertanggungan)').val(toMoneyFormat(maxUP));
                            }
                        }
                    }

                var UangP = $('#@Html.IdFor(m => m.UangPertanggungan)').val().replace(/,/g,"");
                if(UangP > ($('#@Html.IdFor(m => m.PremiBerkala)').val().replace(/,/g,"") * 5))
                {
                    $('#@Html.IdFor(m => m.UangPertanggungan)').attr("style","background-color:#fff");
                }else{
                    $('#@Html.IdFor(m => m.UangPertanggungan)').attr("style","background-color:#eee");
                }

                    calculateCOI($('#@Html.IdFor(m => m.UangPertanggungan)').val(),'#@Html.IdFor(m => m.BiayaAsuransi)', function (coi) {
                    $('#@Html.IdFor(m => m.BiayaAsuransi)').val(toMoneyFormat(roundNumber(coi, 0)));
                    });
                });
            });
        }
    }

    function calculateInstallmentPremium() {
        var pMethod = $('#@Html.IdFor(m => m.CaraBayar)').val();
        var premi = $('#@Html.IdFor(m => m.PremiBerkala)').val();
        var topup = $('#@Html.IdFor(m => m.TopupBerkala)').val();
        var total = parseInt(toDecimalFormat(premi)) + parseInt(toDecimalFormat(topup));
        var premiAngsuran = total / parseInt(pMethod);

        var x = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
        $('#premiAngsuran').html('per ' + x.substring(0, x.length - 2));
        $('#@Html.IdFor(m => m.PremiAngsuran)').val(toMoneyFormat(roundNumber(premiAngsuran, 0)));
        validateUP();
    }

    function calculateInstallmentPremiumWithoutValidate() {
        var pMethod = $('#@Html.IdFor(m => m.CaraBayar)').val();
        var premi = $('#@Html.IdFor(m => m.PremiBerkala)').val();
        var topup = $('#@Html.IdFor(m => m.TopupBerkala)').val();
        var total = parseInt(toDecimalFormat(premi)) + parseInt(toDecimalFormat(topup));
        var premiAngsuran = total / parseInt(pMethod);

        var x = $('#@Html.IdFor(m => m.CaraBayar) option:selected').text().toLowerCase();
        $('#premiAngsuran').html('per ' + x.substring(0, x.length - 2));
        $('#@Html.IdFor(m => m.PremiAngsuran)').val(toMoneyFormat(roundNumber(premiAngsuran, 0)));
    }

    function percentationChange(element) {
        var total = 0;
        for (var i = 0; i < investmentCount; i++) {
            var cb = document.getElementsByName("Investments[" + i + "].Percentage")[0];
            var id = cb.getAttribute("id");
            var idValue = $('#' + id + '').val();
            total = total + parseInt(idValue);
        }

        if (total > 100) {
            alertify.alert("Perhatian", "Total alokasi Dana Investasi harus sama dengan 100%, mohon untuk memperbaikinya");
            
            element.value = 0;
            total = 0;
            for (var i = 0; i < investmentCount; i++) {
                var cb = document.getElementsByName("Investments[" + i + "].Percentage")[0];
                var id = cb.getAttribute("id");
                var idValue = $('#' + id + '').val();
                total = total + parseInt(idValue);
            }
        }

        $('#@Html.IdFor(m => m.TotalInvestment)').val(total);
    }

    function next() {
        var prodCat = $('#hdProductCat').val();
        var totalInv = $('#@Html.IdFor(m => m.TotalInvestment)').val();
        var up = $('#@Html.IdFor(m => m.UangPertanggungan)').val();
        var premi = $('#@Html.IdFor(m => m.PremiBerkala)').val();
        var topup = $('#@Html.IdFor(m => m.TopupBerkala)').val();

        if (prodCat == "single") {
            if (up == null || up == "" || parseInt(toDecimalFormat(up)) == 0 || premi == null || premi == "") {
                alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
                return;
            }
        }
        else if (prodCat == "wizer") {
            var unit = $('#@Html.IdFor(m => m.UnitWizer)').val();
            var mpp = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();

            if (unit == null || unit == "") {
                alertify.alert("Data pilihan wizer belum lengkap!");
                return;
            }

            if (up == null || up == "" || parseInt(toDecimalFormat(up)) == 0 || mpp == null || mpp == "") {
                alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
                return;
            }
        }
        else if (prodCat == "regular" || prodCat == "worksite") {
            var mpp = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();

            if (up == null || up == "" ||parseInt(toDecimalFormat(up)) == 0 || premi == null || premi == "" || mpp == null || mpp == "" || parseInt(toDecimalFormat(premi)) == 0) {
                alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
                return;
            }
        }else if (prodCat == "preferred") {
            var mpp = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();
            var topup = $('#@Html.IdFor(m => m.TopupBerkala)').val();

            if (up == null || up == "" || parseInt(toDecimalFormat(up)) == 0 || premi == null || premi == "" || mpp == null || mpp == "" || topup == null || topup == "" || parseInt(toDecimalFormat(topup)) == 0 || parseInt(toDecimalFormat(premi)) == 0) {
                alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
                return;
            }
        }

        if (totalInv == 100) {
            if(!ajaxBusy)
                $("#form").submit();
            
            $(document).ajaxStop( function() { 
                $("#form").submit();
            })
        }
        else {
            alertify.alert("Perhatian", "Total alokasi Dana Investasi harus sama dengan 100%, mohon untuk memperbaikinya");
        }
    }

</script>
