﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Sales.Illustration.Web.Extensions
@model Sales.Illustration.Web.ViewModel.NasabahDataViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b id="title">HANWHA TRADITIONAL</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class="p1"></i> Data Calon Nasabah
                </div>

                @using (Html.BeginForm("ValidateNasabahData", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;" id="nasabahDataDiv">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="namaDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Nama Pemegang Polis
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.NamaPemegangPolis, new { @class = "form-control", @placeholder = "Nama Pemegang Polis" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="birthdayDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Tanggal Lahir
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 jarak">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            @Html.TextBoxFor(m => m.TanggalLahirPemegangPolis, new { @class = "form-control", @placeholder = "Tanggal Lahir Pemegang Polis" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="genderDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Jenis Kelamin
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminPemegangPolis, "Wanita", new { @checked = true, @onclick = "genderChange(this)" })
                                                Wanita
                                            </label>
                                        </div>
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminPemegangPolis, "Pria", new { @onclick = "genderChange(this)" })
                                                Pria
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="smokeStatusDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Status Merokok
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.StatusMerokokPemegangPolis, StaticDropdownValues.GetStatusMerokok(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="workStatusDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Status Pekerjaan
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.StatusPekerjaanPemegangPolis, ViewData["riskClass"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.KelasPekerjaanPemegangPolis)
                                    </div>
                                </div>
                                @*<div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="workClassDiv">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                            <label class="control-label">
                                                Kelas Pekerjaan
                                            </label>
                                        </div>
                                        <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(m => m.KelasPekerjaanPemegangPolis, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="ageDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Umur
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.UmurPemegangPolis, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Tertanggung Utama
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.TertanggungUtama, "Ya", new { @checked = true, onchange = "check()" }) Ya
                                            </label>
                                        </div>
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.TertanggungUtama, "Tidak", new { onchange = "check()" }) Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="namaInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Nama Tertanggung Utama
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.NamaTertanggungUtama, new { @class = "form-control", @placeholder = "Nama Tertanggung Utama" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="birthdayInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Tanggal Lahir
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 jarak">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            @Html.TextBoxFor(m => m.TanggalLahirTertanggungUtama, new { @class = "form-control", @placeholder = "Tanggal Lahir Tertanggung Utama" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="genderInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Jenis Kelamin
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminTertanggungUtama, "Wanita", new { @onclick = "genderChange(this)" })
                                                Wanita
                                            </label>
                                        </div>
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminTertanggungUtama, "Pria", new { @onclick = "genderChange(this)" })
                                                Pria
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="smokeStatusInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Status Merokok
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.StatusMerokokTertanggungUtama, StaticDropdownValues.GetStatusMerokok(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="workStatusInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Status Pekerjaan
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.StatusPekerjaanTertanggungUtama, ViewData["riskClass"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.KelasPekerjaanTertanggungUtama)
                                    </div>
                                </div>
                                @*<div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="workClassInsDiv">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                            <label class="control-label">
                                                Kelas Pekerjaan
                                            </label>
                                        </div>
                                        <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(m => m.KelasPekerjaanTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="ageInsDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Umur
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.UmurTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="relation">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Hubungan dengan Pemegang Polis
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.Relation, StaticDropdownValues.GetRelation("lifepro"), new { @class = "form-control" })
                                        @Html.DropDownList("lifepro", StaticDropdownValues.GetRelation("lifepro"), new { @class = "hidden" })
                                        @Html.DropDownList("else", StaticDropdownValues.GetRelation("traditional"), new { @class = "hidden" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="childNameDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Nama Anak
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.NamaAnak, new { @class = "form-control", @placeholder = "Nama Anak" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="childBirthdayDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Tanggal Lahir
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 jarak">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            @Html.TextBoxFor(m => m.TanggalLahirAnak, new { @class = "form-control", @placeholder = "Tanggal Lahir Anak" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="childGenderDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Jenis Kelamin
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminAnak, "Wanita", new { @checked = true })
                                                Wanita
                                            </label>
                                        </div>
                                        <div class="col-xs-6 col-lg-3" style="padding-left:0px;">
                                            <label class="checkbox-inline">
                                                @Html.RadioButtonFor(m => m.JenisKelaminAnak, "Pria")
                                                Pria
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12" id="ageChildDiv">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jarak">
                                        <label class="control-label">
                                            Usia Anak
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.UmurAnak, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/product.png" /> Produk
                    </div>
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                @*<div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label class="control-label">
                                                Tipe Produk
                                            </label>
                                        </div>
                                        <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                            @Html.DropDownListFor(m => m.TipeProduk, StaticDropdownValues.GetProductType("tra") , new { @class = "form-control" })
                                        </div>
                                    </div>*@
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Nama Produk
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownListFor(m => m.NamaProduk, ViewData["products"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                &nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalNasabahData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")

@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">

    $('document').ready(function () {
        hideTertanggungUtama(document.getElementById("@Html.IdFor(m => m.TertanggungUtama)"));
        $('#title').html($('#@Html.IdFor(m => m.NamaProduk) option:selected').text().toUpperCase());
        ageValidation();
        genderChangeFirst();
        hideDataAnak();
        appendRelation();
        produkChange($('#@Html.IdFor(m => m.NamaProduk)').val());
    });

    function check() {
        hideTertanggungUtama(document.getElementById("@Html.IdFor(m => m.TertanggungUtama)"));
        ageValidation();
    }

    $('document').ready(function () {
        getKelasPekerjaan($('#@Html.IdFor(m => m.StatusPekerjaanPemegangPolis)').val(), function (result) {
            $('#@Html.IdFor(m => m.KelasPekerjaanPemegangPolis)').attr("value", result);
        });

        getKelasPekerjaan($('#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama)').val(), function (result) {
            $('#@Html.IdFor(m => m.KelasPekerjaanTertanggungUtama)').attr("value", result);
        });
    });

    $('#@Html.IdFor(m => m.StatusPekerjaanPemegangPolis)').change(function () {
        var x = $(this).val();
        getKelasPekerjaan(x, function (result) {
            $('#@Html.IdFor(m => m.KelasPekerjaanPemegangPolis)').attr("value", result);
        });
    });

    $('#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama)').change(function () {
        var x = $(this).val();
        getKelasPekerjaan(x, function (result) {
            $('#@Html.IdFor(m => m.KelasPekerjaanTertanggungUtama)').attr("value", result);
        });
    });

    $('#@Html.IdFor(m => m.TanggalLahirPemegangPolis)').on("focusout change", function () {
        $('#@Html.IdFor(m => m.UmurPemegangPolis)').attr("value", "");
        ageValidation();
    });

    $('#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)').on("focusout change", function () {
        $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
        ageValidation();
    });

    $('#@Html.IdFor(m => m.TanggalLahirAnak)').on("focusout change", function () {
        $('#@Html.IdFor(m => m.UmurAnak)').attr("value", "");
        ageValidation();
    });

    $('#@Html.IdFor(m => m.Relation)').change(function () {
        ageValidation();
        validateRelation();
        genderChange($('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama):checked')[0]);
    });

    $('#@Html.IdFor(m => m.NamaProduk)').change(function () {
        $('#title').html($('#@Html.IdFor(m => m.NamaProduk) option:selected').text().toUpperCase());
        ageValidation();
        hideDataAnak();
        appendRelation();
        produkChange($(this).val());
    });

    function validateRelation() {
        var relation = $('#@Html.IdFor(m => m.Relation)').val();
        var value = $("#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama) option:contains('Belum Bekerja')").val();

        if (relation == "Anak Kandung" || relation == "Anak Angkat")
            $("#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama)").val(value);

        var x = $('#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama)').val();
        getKelasPekerjaan(x, function (result) {
            $('#@Html.IdFor(m => m.KelasPekerjaanTertanggungUtama)').attr("value", result);
        });
    }

    function hideDataAnak() {
        var code = $('#@Html.IdFor(m => m.NamaProduk)').val();
        if (code == "HLLIFE") {
            $("#childNameDiv").hide();
            $("#childBirthdayDiv").hide();
            $("#childGenderDiv").hide();
            $("#ageChildDiv").hide();
        } else {
            $("#childNameDiv").show();
            $("#childBirthdayDiv").show();
            $("#childGenderDiv").show();
            $("#ageChildDiv").show();
        }
    }

    function appendRelation() {
        var produk = $('#@Html.IdFor(m => m.NamaProduk)').val();
        var value = $('#@Html.IdFor(m => m.Relation)').val();

        $('#@Html.IdFor(m => m.Relation)').empty();
        if (produk == "HLLIFE")
            $('#lifepro option').clone().appendTo('#@Html.IdFor(m => m.Relation)');
        else
            $('#else option').clone().appendTo('#@Html.IdFor(m => m.Relation)');

        if ($("#@Html.IdFor(m => m.Relation) option:contains('" + value + "')").length > 0)
            $('#@Html.IdFor(m => m.Relation)').val(value);
        else
            $('#@Html.IdFor(m => m.Relation)').val($("#@Html.IdFor(m => m.Relation) option:first").val());
    }

    function genderChange(element) {
        var ttu = $('#@Html.IdFor(m => m.TertanggungUtama):checked').val();
        var genderPmgPolis = $('#@Html.IdFor(m => m.JenisKelaminPemegangPolis):checked').val();
        var genderTtu = $('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama):checked').val();
        var mustBeGender = element.value == "Wanita" ? "Pria" : "Wanita";
        var hubungan = $('#@Html.IdFor(m => m.Relation)').val();

        if (hubungan == "Pasangan") {
            if (ttu == "Tidak" && (genderPmgPolis == genderTtu) && element.name.indexOf("TertanggungUtama") != -1) {
                alertify.alert("Jenis kelamin Pemegang Polis dan Tertanggung Utama harus berbeda jika hubungannya pasangan");
                $('#' + element.name + '[value="' + element.value + '"]').prop('checked', false);
                $('#' + element.name + '[value="' + mustBeGender + '"]').prop('checked', true);
            }
            else {
                $('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama)' + '[value="' + mustBeGender + '"]').prop('checked', true);
                $('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama)' + '[value="' + element.value + '"]').prop('checked', false);
            }
        }
    }

    function genderChangeFirst() {
        var ttu = $('#@Html.IdFor(m => m.TertanggungUtama):checked').val();
        var genderPmgPolis = $('#@Html.IdFor(m => m.JenisKelaminPemegangPolis):checked').val();
        var genderTtu = $('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama):checked').val();
        var hubungan = $('#@Html.IdFor(m => m.Relation)').val();
        var name = "@Html.IdFor(m => m.JenisKelaminTertanggungUtama)";

        if (genderTtu === undefined) {
            if (hubungan == "Pasangan") {
                genderTtu = genderPmgPolis == "Wanita" ? "Pria" : "Wanita";
                $('#' + name + '[value="' + genderPmgPolis + '"]').prop('checked', false);
                $('#' + name + '[value="' + genderTtu + '"]').prop('checked', true);
            } else {
                genderTtu = "Wanita";
                $('#' + name + '[value="Pria"]').prop('checked', false);
                $('#' + name + '[value="Wanita"]').prop('checked', true);
            }
        }

        var mustBeGender = (genderPmgPolis != genderTtu) ? genderTtu : genderPmgPolis == "Wanita" ? "Pria" : "Wanita";
        var notMustBeGender = mustBeGender == "Wanita" ? "Pria" : "Wanita";

        if (hubungan == "Pasangan") {
            if (genderPmgPolis == genderTtu) {
                $('#' + name + '[value="' + notMustBeGender + '"]').prop('checked', false);
                $('#' + name + '[value="' + mustBeGender + '"]').prop('checked', true);
            }
        }
    }

    function ageValidation() {
        var ttu = $('#@Html.IdFor(m => m.TertanggungUtama):checked').val();
        var relation = $('#@Html.IdFor(m => m.Relation)').val();
        var agePH = parseInt($('#@Html.IdFor(m => m.UmurPemegangPolis)').val());
        var ageTtu = parseInt($('#@Html.IdFor(m => m.UmurTertanggungUtama)').val());
        var x = $('#@Html.IdFor(m => m.TanggalLahirPemegangPolis)').val();

        if (x != null && x != "") {
            calcAge(x, '#@Html.IdFor(m => m.TanggalLahirPemegangPolis)', function (result) {
                var code = $('#@Html.IdFor(m => m.NamaProduk)').val();
                getProduct(code,'#@Html.IdFor(m => m.TanggalLahirPemegangPolis)', function (product) {
                    ageTtu = parseInt($('#@Html.IdFor(m => m.UmurTertanggungUtama)').val());
                    var minAge = (parseInt(product["InsuredMinAge"]) / 12) > (parseInt(product["PolicyHolderMinAge"]) / 12) ? (parseInt(product["InsuredMinAge"]) / 12) : (parseInt(product["PolicyHolderMinAge"]) / 12);
                    var maxAge = ttu == "Ya" ? parseInt(product["InsuredMaxAge"]) / 12 : parseInt(product["PolicyHolderMaxAge"]) / 12;

                    if (result >= minAge && result <= maxAge)
                        $('#@Html.IdFor(m => m.UmurPemegangPolis)').attr("value", result);
                    else {
                        if (ttu == "Ya") {
                            alertify.alert("Minimal usia Pemegang Polis dan Tertanggung Utama adalah " + minAge + " tahun dan maksimal adalah " + maxAge + " tahun!");
                        } else {
                            alertify.alert("Minimal usia Pemegang Polis adalah " + minAge + " tahun dan maksimal adalah " + maxAge + " tahun!");
                        }

                        $('#@Html.IdFor(m => m.TanggalLahirPemegangPolis)').val("");
                        $('#@Html.IdFor(m => m.UmurPemegangPolis)').attr("value", "");
                    }

                    if (relation == "Anak Kandung" && ageTtu >= result) {
                        alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia Pemegang Polis ");
                        $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                        return;
                    }
                });
            });
        }

        if (ttu == "Tidak") {
            var x = $('#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)').val();
            if (x != null && x != "") {
                calcAge(x,'#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)', function (result) {
                    var code = $('#@Html.IdFor(m => m.NamaProduk)').val();
                    getProduct(code,'#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)', function (product) {
                        agePH = parseInt($('#@Html.IdFor(m => m.UmurPemegangPolis)').val());
                        var minAge = roundNumber(parseInt(product["InsuredMinAge"]) / 12, 0);
                        var maxAge = roundNumber(parseInt(product["InsuredMaxAge"]) / 12, 0);

                        if (result >= minAge && result <= maxAge) {
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();
                            var dateBirth = x.substring(0, 2);
                            var monthBirth = x.substring(3, 5);
                            var yearBirth = x.substring(6, 10);

                            var dayDiff = dd - dateBirth;
                            var yearDiff = yyyy - yearBirth;
                            var monthDiff = (yearDiff * 12) + mm - monthBirth;
                            monthDiff = dayDiff >= 0 ? monthDiff : monthDiff - 1;

                            if (monthDiff >= 1 || result > 0) {
                                $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", result);
                            } else {
                                alertify.alert("Minimal usia Tertanggung Utama adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                                $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                                $('#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)').val("");
                                return;
                            }
                        }
                        else {
                            if (minAge > 0) {
                                alertify.alert("Minimal usia Tertanggung Utama adalah " + minAge + " tahun dan maksimal adalah " + maxAge + " tahun!");
                            }
                            else {
                                alertify.alert("Minimal usia Tertanggung Utama adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                            }

                            $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                            return;
                        }

                        if ((relation == "Pasangan" || relation == "Orang Tua Kandung" || relation == "Orang Tua Angkat") && result < 17) {
                            alertify.alert("Umur Pasangan dan Orang Tua harus diatas 17 Tahun");
                            $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                            return;
                        }

                        if (relation == "Anak Kandung" && result >= agePH && agePH != null && !isNaN(agePH) && agePH > 0) {
                            alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia Pemegang Polis ");
                            $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                            return;
                        }

                        if (relation == "Orang Tua Kandung" && result <= agePH && agePH != null && !isNaN(agePH) && agePH > 0) {
                            alertify.alert("Usia Orang Tua Kandung harus lebih besar daripada usia Pemegang Polis ");
                            $('#@Html.IdFor(m => m.UmurTertanggungUtama)').attr("value", "");
                            return;
                        }
                    });
                });
            }
        }

        var ageChild = $('#@Html.IdFor(m => m.TanggalLahirAnak)').val();
        if (ageChild != null && ageChild != "") {
            var prod = $('#@Html.IdFor(m => m.NamaProduk)').val();
            getProduct(prod,'#@Html.IdFor(m => m.TanggalLahirAnak)', function (product) {
                var minAge = parseInt(product["ChildMinAge"] / 12);
                var maxAge = parseInt(product["ChildMaxAge"] / 12);
                calcAge(ageChild,'#@Html.IdFor(m => m.TanggalLahirAnak)', function (result) {
                    if (parseInt(result) < minAge || parseInt(result) > maxAge) {
                        alertify.alert("Minimal usia Anak adalah " + product["ChildMinAge"] + " bulan dan maksimal adalah " + maxAge + " tahun!");
                        $('#@Html.IdFor(m => m.TanggalLahirAnak)').val("");
                        $('#@Html.IdFor(m => m.UmurAnak)').attr("value", "");
                    }
                    else {
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1; //January is 0!
                        var yyyy = today.getFullYear();
                        var dateBirth = ageChild.substring(0, 2);
                        var monthBirth = ageChild.substring(3, 5);
                        var yearBirth = ageChild.substring(6, 10);

                        var dayDiff = dd - dateBirth;
                        var yearDiff = yyyy - yearBirth;
                        var monthDiff = (yearDiff * 12) + mm - monthBirth;
                        monthDiff = dayDiff >= 0 ? monthDiff : monthDiff - 1;

                        if (monthDiff >= 1 || result > 0) {
                            $('#@Html.IdFor(m => m.UmurAnak)').attr("value", result);
                        } else {
                            alertify.alert("Minimal usia Anak adalah " + product["ChildMinAge"] + " bulan dan maksimal adalah " + maxAge + " tahun!");
                            $('#@Html.IdFor(m => m.UmurAnak)').attr("value", "");
                            $('#@Html.IdFor(m => m.TanggalLahirAnak)').val("");
                            return;
                        }
                    }
                });
            });
        }
    }

    function next() {
        var namaP = $('#@Html.IdFor(m => m.NamaPemegangPolis)').val();
        var tlP = $('#@Html.IdFor(m => m.TanggalLahirPemegangPolis)').val();
        var jkP = $('#@Html.IdFor(m => m.JenisKelaminPemegangPolis):checked').val();
        var spP = $('#@Html.IdFor(m => m.StatusPekerjaanPemegangPolis)').val();
        var kpP = $('#@Html.IdFor(m => m.KelasPekerjaanPemegangPolis)').val();
        var uP = $('#@Html.IdFor(m => m.UmurPemegangPolis)').val();
        var produk = $('#@Html.IdFor(m => m.NamaProduk)').val();

        if (namaP != null && namaP != "" && tlP != null && tlP != "" && jkP != null && jkP != "" &&
            spP != null && spP != "" && kpP != null && kpP != "" && uP != null && uP != "") {
            var ttu = $('#@Html.IdFor(m => m.TertanggungUtama):checked').val();
            var namaA = $('#@Html.IdFor(m => m.NamaAnak)').val();
            var tlA = $('#@Html.IdFor(m => m.TanggalLahirAnak)').val();
            var jkA = $('#@Html.IdFor(m => m.JenisKelaminAnak):checked').val();
            var uA = $('#@Html.IdFor(m => m.UmurAnak)').val();

            if (ttu == "Tidak") {
                var namaT = $('#@Html.IdFor(m => m.NamaTertanggungUtama)').val();
                var tlT = $('#@Html.IdFor(m => m.TanggalLahirTertanggungUtama)').val();
                var jkT = $('#@Html.IdFor(m => m.JenisKelaminTertanggungUtama):checked').val();
                var spT = $('#@Html.IdFor(m => m.StatusPekerjaanTertanggungUtama)').val();
                var kpT = $('#@Html.IdFor(m => m.KelasPekerjaanTertanggungUtama)').val();
                var uT = $('#@Html.IdFor(m => m.UmurTertanggungUtama)').val();

                if (namaT != null && namaT != "" && tlT != null && tlT != "" && jkT != null && jkT != "" &&
                    spT != null && spT != "" && kpT != null && kpT != "" && uT != null && uT != "") {
                    if ((produk != "HLLIFE" && namaA != null && namaA != "" && tlA != null && tlA != "" && jkA != null && jkA != "" && uA != null && uA != "") || produk == "HLLIFE") {
                        $("#form").submit();
                    }
                    else {
                        alertify.alert("Data Anak tidak lengkap!");
                    }
                }
                else {
                    alertify.alert("Data Tertanggung Utama tidak lengkap!");
                }
            }
            else {
                if ((produk != "HLLIFE" && namaA != null && namaA != "" && tlA != null && tlA != "" && jkA != null && jkA != "" && uA != null && uA != "") || produk == "HLLIFE") {
                    $("#form").submit();
                }
                else {
                    alertify.alert("Data Anak tidak lengkap!");
                }
            }
        }
        else {
            alertify.alert("Data Pemegang Polis tidak lengkap!");
        }
    }

    $(".date").datetimepicker({
        format: 'DD/MM/YYYY',
    });

</script>
