﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["ProductTitle"];
}
@model Sales.Illustration.Web.ViewModel.InsuranceCostAndRatioViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                </ul>
            </div>
        </center>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidateInsuranceCostAndRatioData", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-cost.png" /> Premi Asuransi & Pilihan Bahasa
                    </div>
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div id="DataTertanggung">
                                    @if (ViewData["dataTertanggung"] != null)
                                    {
                                        var dataTTg = ViewData["dataTertanggung"] as Sales.Illustration.Web.ViewModel.InsuranceCostTraditionalViewModel;
                                        var no = 1;
                                        foreach (var ttg in dataTTg.ListTertanggung)
                                        {
                                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <label class="control-label">
                                                        @ttg.NamaTertanggung
                                                    </label>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBox("Premi" + no, ttg.Premi, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        no = no + 1;
                                        }
                                    }
                                </div>
                                <div id="PremiAsuransiDasar" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <label class="control-label">
                                            Premi Asuransi Dasar
                                        </label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        @Html.TextBoxFor(m => m.Premi, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div id="PremiAsuransiTambahan" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <label class="control-label">
                                            Premi Asuransi Tambahan
                                        </label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        @Html.TextBoxFor(m => m.BiayaAsuransiTambahan, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <label id="TotalPremi" class="control-label">
                                            Total Premi
                                        </label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        @Html.TextBoxFor(m => m.BiayaAsuransiTotal, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <label class="control-label">
                                            Pilihan Bahasa
                                        </label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        @Html.DropDownListFor(m => m.Language, ViewData["language"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        @Html.Hidden("hdProductCode", ViewData["ProductCode"])
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @if (ViewData["ProductCode"].Equals("HLEDU"))
                {
                    <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToRider", "Traditional")';">
                        BACK
                    </button>
                }
                else
                {
                    <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToPremiumAndInvestment", "Traditional")';">
                        BACK
                    </button>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalInsuranceCostAndRatioData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")
@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    $(document).ready(function () {
        produkChange($('#hdProductCode').val());
        setLabel();
    });

    function setLabel() {
        var prod = $("#hdProductCode").val();
        var carabayar = '@ViewData["carabayar"]';
        if (prod == "HLLIFE") {
            $("#PremiAsuransiDasar").hide();
            $("#PremiAsuransiTambahan").hide();
            $("#DataTertanggung").show();
            $("#TotalPremi").text("Total Premi " + carabayar);
        } else {
            var x = $('#@Html.IdFor(m => m.Premi)').val();
            var y = $('#@Html.IdFor(m => m.BiayaAsuransiTambahan)').val();

            $('#@Html.IdFor(m => m.BiayaAsuransiTotal)').val(toMoneyFormat(parseInt(toDecimalFormat(x)) + parseInt(toDecimalFormat(y))));
            $("#PremiAsuransiDasar").show();
            $("#PremiAsuransiTambahan").show();
            $("#DataTertanggung").hide();
            $("#TotalPremi").text("Total Premi");
        }
    }

    function next() {
        $("#form").submit();
    }
</script>
