﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["ProductTitle"];
    var insAge = ViewData["insAge"];
    var prodCode = ViewData["ProductCode"];
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
}
@using Sales.Illustration.Web.Extensions
@model Sales.Illustration.Web.ViewModel.PremiumAndInvestmentViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidatePremiumAndInvestmentData", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    if (prodCode.Equals("HLLIFE"))
                    {
                        <div class="content-tittle-1">
                            <img src="~/Content/dist/img/icon_profile.png" /> <span>Informasi Pemegang Polis dan Tertanggung</span>
                        </div>
                        <fieldset id="tableTT">
                            <div class="table-responsive">
                                <table class="table" style="font-size: 14px;">
                                    <tr class="text-center">
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"></td>
                                        <td class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><label>Nama</label></td>
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><label>Jenis Kelamin</label></td>
                                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-12"><label>Usia</label></td>
                                        <td class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><label>Pekerjaan</label></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle"><label>Pemegang Polis</label></td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.NamaPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.JenisKelaminPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.UmurPemegangPolis, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBox("PekerjaanPemegangPolis", ViewData["pekerjaanP"] as string, new { @class = "form-control", @readonly = "readonly" })</td>
                                    </tr>
                                    <tr id="trTertanggungUtama">
                                        <td style="vertical-align:middle"><label>Tertanggung Utama</label></td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.NamaTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.JenisKelaminTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBoxFor(m => m.additionalInsured.NasabahData.UmurTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })</td>
                                        <td>@Html.TextBox("PekerjaanTertanggungUtama", ViewData["pekerjaanT"] as string, new { @class = "form-control", @readonly = "readonly" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table-responsive" style="overflow-x: visible;">
                                <table id="content_tb" class="table" style="font-size: 14px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:180px;">Tertanggung Tambahan <br>(Penerima Manfaat)</th>
                                            <th>Nama</th>
                                            <th>Tanggal Lahir</th>
                                            <th style="width:190px;"> Jenis Kelamin</th>
                                            <th>Usia</th>
                                            <th>Pekerjaan</th>
                                            <th>Hubungan</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_tt">
                                        @for (var i = 0; i < Model.additionalInsured.TertanggungTambahan.Count; i++)
                                        {
                                            @Html.Partial("AdditionalInsuredRow", Model.additionalInsured.TertanggungTambahan[i])
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <br />

                        <button class="btn btn-warning icon-plus" onclick="add()" type="button">
                            Add
                        </button>
                    }
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-moneybag.png" /> <span id="judulAtas">Premi dan Uang Pertanggungan</span>
                    </div>
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div id="mataUang" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Mata Uang
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.MataUang, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div id="modeBayar" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Cara Pembayaran Premi
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.ModeBayarPremi, StaticDropdownValues.GetPaymentMode(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="pilihanMasaBayar">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Pilihan Masa Pembayaran Premi Berkala
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.PilihanMasaPembayaran, StaticDropdownValues.GetPaymentPeriod(prodCode.ToString()), new { @class = "form-control" })
                                    </div>
                                </div>
                                @if (prodCode.Equals("HLLIFE"))
                                {
                                    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="masaAsuransi">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="control-label">
                                                Masa Asuransi
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(m => m.MasaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="masaPembayaranPremi">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Masa Pembayaran Premi
                                        </label>
                                    </div>
                                    @if (prodCode.Equals("HLLIFE"))
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.RencanaMasaPembayaran, StaticDropdownValues.GetPaymentPeriod(prodCode.ToString()), new { @class = "form-control" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            @Html.TextBox("mpp", "Sampai dengan usia anak mencapai 18 tahun", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Uang Pertanggungan
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="caraBayar">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblCaraBayar">
                                            Mode Premi Berkala
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.CaraBayar, ViewData["paymentMethods"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div id="premiBerkala" class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblPremi">
                                            Premi Bulanan
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="hdInsAge" value="@insAge" />
                        <input type="hidden" id="hdProdCode" value="@prodCode" />
                        <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                    </fieldset>
                    if (!prodCode.Equals("HLLIFE"))
                    {
                        <div class="content-tittle-1">
                            <img src="/Content/dist/img/p1.png" /> Informasi Virtual Anak
                        </div>
                        <fieldset>
                            <div class="row row-form" style="margin:0px -15px;">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Usia Masuk Anak
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.UsiaMasukAnak, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Masa Asuransi
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.MasaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblMasaBayar">
                                            Masa Pembayaran Premi
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.TextBoxFor(m => m.RencanaMasaPembayaran, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                </div>
                            </div>
                        </fieldset>
                    }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToNasabahData", "Traditional")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalPremiumAndInvestmentData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")
@using Newtonsoft.Json
@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    @{
        var jsonSetting = new JsonSerializerSettings
        { PreserveReferencesHandling = PreserveReferencesHandling.All };
    }
    var addInsured = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.additionalInsured.TertanggungTambahan, jsonSetting)));
    var dataNasabah = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.additionalInsured.NasabahData, jsonSetting)));
    var mustRelation;
    var isTTu = "@ViewData["isTertanggungUtama"]";
    $('document').ready(function () {
        var msg = $('#hdErrorMsg').val();
        if (msg != null && msg != "") {
            alertify.alert(msg);
        }

        setLabel(); produkChange($('#hdProdCode').val());
        if ($('#hdProdCode').val() != "HLLIFE") {
            hitungMasaAsuransi();
            hitungMasaBayarPremi();
            $("#tableTT").hide();
        } else {
            validateMasaPembayaran();
            $("#tableTT").show();
            if (isTTu == "Ya")
                $("#trTertanggungUtama").hide();
            else
                $("#trTertanggungUtama").show();

            $(document).find("input[name*='DateOfBirth']").each(function () {
                var value = $(this).val();
                if (value != "") {
                    calcAge(value, "#" + $(this).attr('id'), function (result) {
                        var age = result;

                        var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
                        var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
                        ageInput.val(age);
                    });
                }

            });

            if (addInsured.length == 1 && addInsured[0].Age == null) {
                var code = $("#table_tt tr").eq(0).find("select[name*='KelasPekerjaan']").eq(0).val();
                getKelasPekerjaan(code, function (result) {
                    $("#table_tt tr").eq(0).find("input[name*='RiskClass']").eq(0).val(result);
                });
            }

            $(".datepicker").on("focusout", function () {
                var value = $(this).val();
                var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
                var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
                if (value != null && value != "") {
                    calcAge(value,"#" + $(this).attr('id'), function (result) {
                        var age = result;
                        ageInput.val(age);
                        validateAgeWithElement(age, ageInput);
                    });
                }
            });

            $('#table_tt tr').find('td').each(function () {
                var row = $(this);
                if (row.index() == 1) {
                    row.html(row.parent().index() + 1)
                }
            })

            $("#table_tt tr").find("select[name*='Relationship']").each(function () {
                if ($(this).val() == "Pasangan" && $('#@Html.IdFor(m => m.additionalInsured.NasabahData.Relation)').val() == "Pasangan") {
                    $("#table_tt select[name*='Relationship']:last").prop('selectedIndex', 1);
                }
            });

            $(".date").datetimepicker({
                format: 'DD/MM/YYYY',
            });

            mustRelation = CheckTtgTambahan(isTTu, true);
        }
    });

    $('#@Html.IdFor(m => m.ModeBayarPremi)').change(function () {
        setLabel();
        hitungMasaAsuransi();
        hitungMasaBayarPremi();
    });

    $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').change(function () {
        hitungMasaBayarPremi();
    });

    $('#@Html.IdFor(m => m.CaraBayar)').change(function () {
        setLabel();
        if ($('#@Html.IdFor(m => m.UangPertanggungan)') != "")
            hitungPremi();
    });

    $('#@Html.IdFor(x => x.UangPertanggungan)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(x => x.UangPertanggungan)').val()))) {
            var x = $(this).val();
            if (parseInt(x) > 0) {
                hitungPremi();
                $(this).val(toMoneyFormat(toDecimalFormat(x)));
            }
        }
        else {
            alertify.alert("Nilai Uang Pertanggungan harus angka.");
            $('#@Html.IdFor(x => x.UangPertanggungan)').val('');
            //$('#@Html.IdFor(m => m.PremiBerkala)').val('');
        }
    });

    $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').change(function () {
        var prod = $('#hdProdCode').val();
        if (prod == "HLLIFE")
            validateMasaPembayaran();
    });

    function setLabel() {
        var x = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var prod = $('#hdProdCode').val();

        if (prod == "HLEDU") {
            $('#lblCaraBayar').html("Mode Premi Berkala");
            $('#mataUang').hide();
            if (x == "sekaligus") {
                $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', true);
                $('#pilihanMasaBayar').hide();
                $('#@Html.IdFor(m => m.CaraBayar)').prop('disabled', true);
                $('#caraBayar').hide();
                $('#masaPembayaranPremi').hide();
                $('#lblPremi').html("Premi Tunggal");
                $('#lblMasaBayar').html("Masa Tunggu Tahapan");
            }
            else {
                $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', false);
                $('#pilihanMasaBayar').show();
                $('#@Html.IdFor(m => m.CaraBayar)').prop('disabled', false);
                $('#caraBayar').show();
                $('#masaPembayaranPremi').hide();
                $('#lblPremi').html("Premi " + $('#@Html.IdFor(m => m.CaraBayar)').find('option:selected').text());
                $('#lblMasaBayar').html("Masa Pembayaran Premi");
            }
        } else if (prod == "HLKIDS") {
            $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', true);
            $('#pilihanMasaBayar').hide();
            $('#@Html.IdFor(m => m.ModeBayarPremi)').prop('disabled', true);
            $('#modeBayar').hide();
            $('#@Html.IdFor(m => m.CaraBayar)').prop('disabled', false);
            $('#caraBayar').show();
            $('#masaPembayaranPremi').show();
            $('#lblCaraBayar').html("Metode Pembayaran Premi");
            $('#lblPremi').html("Premi " + $('#@Html.IdFor(m => m.CaraBayar)').find('option:selected').text());
            $('#lblMasaBayar').html("Masa Pembayaran Premi");
            $('#mataUang').hide();
        } else if (prod == "HLLIFE") {
            $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', true);
            $('#@Html.IdFor(m => m.ModeBayarPremi)').prop('disabled', true);
            $('#judulAtas').text("Masa Asuransi dan Uang Pertanggungan");
            $('#lblCaraBayar').html("Metode Pembayaran Premi");
            $('#mataUang').show();
            $('#modeBayar').hide();
            $('#pilihanMasaBayar').hide();
            $('#premiBerkala').hide();
        }
    }

    function validateMasaPembayaran() {
        var mpp = parseInt($('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val());
        var umurTertanggung = parseInt($("#hdInsAge").val());
        var maxCovered = 70;

        if ((umurTertanggung + mpp) > maxCovered) {
            alertify.alert("Untuk Rencana Masa Pembayaran Premi " + mpp + " tahun, Maksimum Usia Masuk Tertanggung adalah " + (maxCovered - mpp) + " tahun");
            $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val($("#@Html.IdFor(m => m.RencanaMasaPembayaran) option:first").val());
        }

        $('#@Html.IdFor(m => m.MasaAsuransi)').val($('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val());
    }

    function hitungMasaAsuransi() {
        var x = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var prod = $('#hdProdCode').val();
        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
        getInsurancePeriod(usiaAnak, prod, function (result) {
            $('#@Html.IdFor(m => m.MasaAsuransi)').attr("value", result);
        });
    }

    function hitungMasaBayarPremi() {
        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
        var periodeBayar = $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var prod = $('#hdProdCode').val();

        getPaymentPeriod(usiaAnak, periodeBayar, modeBayar, prod, function (result) {
            if (prod == "HLEDU") {
                if (result <= 0) {
                    $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').attr("value", "");
                    $("#@Html.IdFor(m => m.PilihanMasaPembayaran)").val($("#@Html.IdFor(m => m.PilihanMasaPembayaran) option:first").val());
                    alertify.alert("Maksimum usia masuk Anak " + (18 - parseInt(periodeBayar)) + " tahun");
                    hitungMasaBayarPremi();
                }
                else if (result > 0 && modeBayar == "berkala" && parseInt(usiaAnak) > 13 && $("#@Html.IdFor(m => m.PilihanMasaPembayaran)").val() == "18") {
                    $('#@Html.IdFor(m => m.ModeBayarPremi)').val("sekaligus");
                    setLabel();
                    hitungMasaAsuransi();
                    alertify.alert("Maksimum usia masuk Anak 13 tahun");
                } else {
                    $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').attr("value", result);

                    if ($('#@Html.IdFor(m => m.UangPertanggungan)').val() != "")
                        hitungPremi();
                }
            } else {
                $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').attr("value", result);

                if ($('#@Html.IdFor(m => m.UangPertanggungan)').val() != "")
                    hitungPremi();
            }
        });
    }

    function hitungPremi() {
        var masaBayar = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var insage = $('#hdInsAge').val();
        var prod = $('#hdProdCode').val();

        if (prod == "HLEDU" && parseInt(masaBayar) + parseInt(insage) > 65) {
            if (modeBayar == "sekaligus") {
                alertify.alert("Maksimal usia masuk Tertanggung Utama ditambah Masa Tunggu Tahapan adalah 65 tahun");
            }
            else {
                alertify.alert("Maksimal usia masuk Tertanggung Utama ditambah Masa Pembayaran Premi adalah 65 tahun");
            }

            $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", "");
        }
        else {
            getProductCode(function (prodCode) {
                getProduct(prodCode,'#@Html.IdFor(m => m.UangPertanggungan)', function (product) {
                    var minUP = product["MinAmountSumInsured"];
                    var up = toDecimalFormat($('#@Html.IdFor(m => m.UangPertanggungan)').val());

                    if (minUP != null && minUP != "" && up >= minUP) {
                        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
                        var masaAsuransi = $('#@Html.IdFor(m => m.MasaAsuransi)').val();
                        var periodeBayar = $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').val();

                        calcPremiTraditional(toDecimalFormat(up), modeBayar, usiaAnak, masaBayar, masaAsuransi, prodCode,'#@Html.IdFor(m => m.UangPertanggungan)', function (result) {
                            var premi = result;
                            var caraBayar = $('#@Html.IdFor(m => m.CaraBayar)').val();

                            if (prod == "HLEDU" && modeBayar == "sekaligus")
                                $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", toMoneyFormat(roundNumber(premi, 1)));
                            else {
                                getPaymentMethod(parseInt(caraBayar),"premi",'#@Html.IdFor(m => m.PremiBerkala)', function (pm) {
                                    var factor = parseFloat(pm["Factor"]);
                                    $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", toMoneyFormat(roundNumber(premi * (factor / 100), 1)));
                                });
                            }
                        });
                    }
                    else {
                        alertify.alert("Minimal Uang Pertanggungan adalah " + toMoneyFormat(minUP) + " !");
                        if (prodCode == "HLLIFE")
                            $('#@Html.IdFor(m => m.UangPertanggungan)').val("");
                        else
                            $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", "");
                    }
                });
            });
        }
    }

    function validateLastInput() {
        var messageArr = Array();
        $("#table_tt").find("td input,select").each(function () {
            var row = $(this);

            var value = row.val();
            if (value == "" || value == null) {
                messageArr.push(getInputTypeByName(row.attr('name')));
            }
        });

        $("#table_tt tr").each(function () {
            var value = $(this).find("input[name*='Gender']:checked").val()

            if (value == "" || value == null) {
                messageArr.push(getInputTypeByName("Gender"));
            }
        });

        if (messageArr.length > 0) {
            var errMsg = "Mohon untuk mengisi ";
            for (var i = 0; i < messageArr.length; i++) {
                errMsg += messageArr[i] + ", ";
            }

            errMsg = errMsg.substring(0, errMsg.length - 2) + " Tertanggung Tambahan.";

            alertify.alert(errMsg);
            return false;
        } else {
            return true;
        }
    }

    function add() {

        if (!validateLastInput()) {
            return;
        }

        if ($('#table_tt tr').length == 4)
        {
            alertify.alert("Tertanggung Tambahan Maksimal 4");
            return;
        }

        $.ajax({
            async: false,
            url: '/Traditional/AddAdditionalInsuredRow'
        }).success(function (partialView) {
            $('#table_tt').append(partialView);

            $('#table_tt tr').find('td').each(function () {
                var row = $(this);
                if (row.index() == 1) {
                    row.html(row.parent().index() + 1)
                }
            });
            var totalOrtu = 0;
            $("#table_tt :input[name*='Relationship']:not(:last)").each(function () {
                if ($(this).val() == "Pasangan" || $('#@Html.IdFor(m => m.additionalInsured.NasabahData.Relation)').val() == "Pasangan") {
                    $("#table_tt select[name*='Relationship']:last").prop('selectedIndex', 1);
                }
                if ($(this).val() == "Orang Tua Kandung")
                    totalOrtu = totalOrtu + 1;
                    
            });

            if (totalOrtu >= 2 && $("#table_tt select[name*='Relationship']:last").val() == "Orang Tua Kandung")
                $("#table_tt select[name*='Relationship']:last").prop('selectedIndex', 2);
        });

        $(".date").datetimepicker({
            format: 'DD/MM/YYYY',
        });

        $(".datepicker").on("focusout", function () {
            var value = $(this).val();
            var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
            var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
            if (value != null && value != "") {
                calcAge(value,"#" + $(this).attr('id'), function (result) {
                    var age = result;
                    ageInput.val(age);
                    validateAgeWithElement(age, ageInput);
                });
            }
        });

        var code = $('#table_tt tr').eq($('#table_tt').find("tr").length - 1).find("select[name*='KelasPekerjaan']").eq(0).val();
        getKelasPekerjaan(code, function (result) {
            $("#table_tt tr").eq($('#table_tt').find("tr").length - 1).find("input[name*='RiskClass']").eq(0).val(result);
        });
    }

    function remove(element) {
        var rowIndex = element.parentNode.parentNode.rowIndex - 1;
        var totalRow = $('#table_tt tr').length;

        if (totalRow == 1)
        {
            alertify.alert("Tertanggung Tambahan Minimal 1");
            return;
        } else if (isTTu == "Tidak" && rowIndex == 0) {
            alertify.alert("Tertanggung Tambahan 1 harus sama dengan Pemegang Polis");
            return;
        }

        var rowAtas = element.parentNode.parentNode;
        rowAtas.remove();

        $('#table_tt tr').find('td').each(function () {
            var row = $(this);
            if (row.index() == 1) {
                row.html(row.parent().index() + 1)
            }
        });
    }

    function genderChange(element) {
        var element = $(element);
        var gender = element.val();
        var index = element.parent().parent().parent().parent().index();

        var relationship = element.parent().parent().parent().parent().find("select[name*='Relationship']").eq(0).val();
        if (relationship == "Pasangan") {
            var mustBeGender = (isTTu == "Ya" ? dataNasabah.JenisKelaminPemegangPolis : dataNasabah.JenisKelaminTertanggungUtama) == "Pria" ? "Wanita" : "Pria";
            if (gender != mustBeGender) {
                alertify.alert('Jenis kelamin pasangan harus ' + mustBeGender);
                element.prop('checked', false);
                element.parent().parent().parent().find("input[value='" + mustBeGender + "']").eq(0).prop('checked', true);
            }
        }

        if (relationship == mustRelation && index == 0 && isTTu == "Tidak") {
            var mustBeGender = (dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Pria" : "Wanita");
            if (gender != mustBeGender) {
                alertify.alert('Jenis kelamin harus ' + mustBeGender);
                element.prop('checked', false);
                element.parent().parent().parent().find("input[value='" + mustBeGender + "']").eq(0).prop('checked', true);
            }
        }

        if (relationship == "Orang Tua Kandung") {
            var genderOrtu = $('#table_tt tr:not(:eq('+index+')) select option[value="Orang Tua Kandung"]:selected').parent().parent().parent().find("input[name*='Gender']:checked").val();
            var mustBeGender = genderOrtu == "Pria" ? "Wanita" : "Pria";
            if (gender != mustBeGender && genderOrtu != undefined && genderOrtu != "") {
                alertify.alert('Jenis kelamin Orang Tua Kandung harus ' + mustBeGender);
                element.parent().parent().find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
                element.parent().parent().find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            }
        }
    }

    function onClassRiskChange(element) {
        var element = $(element);
        var insuredIndex = element.parent().parent().index();
        var relationship = element.parent().parent().find("select[name*='Relationship']").eq(0).val();

        if (element.find("option:selected").text() != $("#PekerjaanPemegangPolis").val() && relationship == mustRelation && insuredIndex == 0 && isTTu == "Tidak") {
            $("#table_tt tr").eq(insuredIndex).find("select[name*='KelasPekerjaan']").eq(0).find("option:contains(" + $("#PekerjaanPemegangPolis").val() + ")").prop("selected", true);
            alertify.alert("Pekerjaan harus sama dengan Pemegang Polis");
            return;
        }

        getKelasPekerjaan(element.val(), function (result) {
            $("#table_tt tr").eq(insuredIndex).find("input[name*='RiskClass']").eq(0).val(result);
        });
    }

    function onRelationChange(element) {
        var element = $(element)        
        var relationship = element.val();
        var pekerjaan = element.parent().parent().find("select[name*='KelasPekerjaan']");
        var insuredIndex = element.parent().parent().index();
        var value = pekerjaan.find("option:contains('Belum Bekerja')").val();

        if (insuredIndex == 0)
        {
            CheckTtgTambahan(isTTu, false);
            relationship = element.val();
        }

        if (relationship == "Anak Angkat" || relationship == "Anak Kandung") {
            pekerjaan.val(value);
            getKelasPekerjaan(value, function (result) {
                element.parent().parent().find("input[name*='RiskClass']").eq(0).val(result);
            });
        }

        var totalOrtuKandung = 0; var genderOrtu = "";
        $("#table_tt :input[name*='Relationship']").each(function () {
            var row = $(this).parent().parent().index();
            if ((row != insuredIndex && $(this).val() == "Pasangan" && relationship == "Pasangan") || (relationship == "Pasangan" && $('#@Html.IdFor(m => m.additionalInsured.NasabahData.Relation)').val() == "Pasangan")) {
                alertify.alert("Relasi Pasangan hanya bisa dipilih sekali");
                element.val("Lainnya");
                return;
            }
            if (row != insuredIndex && $(this).val() == "Orang Tua Kandung")
            {
                genderOrtu = $(this).parent().parent().find("input[name*='Gender']:checked").val();
                totalOrtuKandung = totalOrtuKandung + 1;
            }
        });

        if (relationship == "Orang Tua Kandung" && totalOrtuKandung >= 2) {
            alertify.alert("Orang Tua Kandung yang diperkenankan maksimal 2 orang");
            element.val("Lainnya");
            return;
        }

        validateRelationship(element.val(), insuredIndex);
        validateAgeWithRelationAndElement(element.val(), element);
        validateGenderWithRelationAndElement(element.val(), element,insuredIndex,genderOrtu);
    }

    function validateRelationship(relation, index) {
        var mustBeGender = dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Pria" : "Wanita";
        var gender = dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Wanita" : "Pria";
        var prod = $('#hdProdCode').val();

        if (isTTu == "Tidak" && index == 0) {
            $("#table_tt tr").eq(index).find("input[name*='Nama']").eq(0).val(dataNasabah.NamaPemegangPolis);
            $("#table_tt tr").eq(index).find("input[name*='DateOfBirth']").eq(0).val(dataNasabah.TanggalLahirPemegangPolis);
            $("#table_tt tr").eq(index).find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
            $("#table_tt tr").eq(index).find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            $("#table_tt tr").eq(index).find("input[name*='Age']").eq(0).val(dataNasabah.UmurPemegangPolis);
            $("#table_tt tr").eq(index).find("select[name*='KelasPekerjaan']").eq(0).find("option:contains(" + $("#PekerjaanPemegangPolis").val() + ")").prop("selected", true);
            onClassRiskChange($("#table_tt tr").eq(index).find("select[name*='KelasPekerjaan']")[0]);
        }
    }

    function validateGenderWithRelationAndElement(relation, element,insuredIndex,genderOrtu) {

        var gender = element.parent().parent().find("input[name*='Gender']:checked").val();
        if (relation == "Pasangan") {
            var mustBeGender = (isTTu == "Ya" ? dataNasabah.JenisKelaminPemegangPolis : dataNasabah.JenisKelaminTertanggungUtama) == "Pria" ? "Wanita" : "Pria";
            if (gender != mustBeGender) {
                element.parent().parent().find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
                element.parent().parent().find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            }
        }

        if (relation == "Orang Tua Kandung") {
            var mustBeGender = genderOrtu == "Pria" ? "Wanita" : "Pria";
            if (gender != mustBeGender && genderOrtu != undefined && genderOrtu != "") {
                element.parent().parent().find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
                element.parent().parent().find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            }
        }
    }

    function validateAgeWithRelationAndElement(relation, element) {
        var datePickerInput = element.parent().parent().find("input[name*='DateOfBirth']").eq(0);
        var ageInput = element.parent().parent().find("input[name*='Age']").eq(0);
        var age = ageInput.val();

        if (age != null && age != "") {
            age = parseInt(age);

            var umurTertanggung = parseInt($("#hdInsAge").val());
            if (age >= umurTertanggung && relation == "Anak Kandung") {
                alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia Pemegang Polis");
                datePickerInput.val('');
                ageInput.val('');
            }

            if (age < 17 && (relation == "Pasangan" || relation == "Orang Tua Kandung" || relation == "Orang Tua Angkat")) {
                alertify.alert("Usia Orang Tua dan Pasangan harus lebih dari 17 Tahun");
                datePickerInput.val("");
                ageinput.val("");
            }

            if (relation == "Orang Tua Kandung" && age <= umurTertanggung) {
                alertify.alert("Usia Orang Tua harus lebih besar daripada usia Tertanggung Utama");
                datePickerInput.val("");
                ageinput.val("");
            }
        }
    }

    function onNameChange(element) {
        var element = $(element);
        var relationship = element.parent().parent().find("select[name*='Relationship']").eq(0).val();
        var namaPH = dataNasabah.NamaPemegangPolis;
        var index = element.parent().parent().index();

        if (relationship == mustRelation && namaPH != element.val() && index == 0 && isTTu == "Tidak") {
            alertify.alert("Nama Tertanggung Tambahan harus sama dengan nama Pemegang Polis");
            element.val(namaPH);
            return;
        }
    }

    function validateAgeWithElement(age, element) {
        var tr = element.parent().parent();
        var datePickerInput = tr.find("input[name*='DateOfBirth']").eq(0);
        var relationInput = tr.find("select[name*='Relationship']").eq(0);
        var relation = relationInput.val();
        var ageinput = tr.find("input[name*='Age']").eq(0);;

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = dd + '/' + mm + '/' + yyyy;
        var day = daydiff(parseDateDiff(datePickerInput.val()), parseDateDiff(today));
        //var mainInsuredAge = dataNasabah.UmurPemegangPolis;
        var code = dataNasabah.NamaProduk;
        var dateBirth = datePickerInput.val().substring(0, 2);
        var mainInsuredAge = parseInt($("#hdInsAge").val());

        if (tr.index() == 0 && isTTu == "Tidak" && relation == mustRelation && (datePickerInput.val() != dataNasabah.TanggalLahirPemegangPolis || age != dataNasabah.UmurPemegangPolis)) {
            alertify.alert("Tanggal lahir Tertanggung Tambahan harus sama dengan tanggal lahir Pemegang Polis");
            datePickerInput.val(dataNasabah.TanggalLahirPemegangPolis);
            ageinput.val(mainInsuredAge); return;
        }

        if (age < 0) {
            alertify.alert("Tanggal lahir Tertanggung Tambahan Tidak Boleh Lebih Dari Hari Ini");
            datePickerInput.val("");
            ageinput.val(""); return;
        }
        if (mainInsuredAge <= age && relation == "Anak Kandung") {
            alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia Pemegang Polis ");
            datePickerInput.val("");
            element.val(""); return;
        }

        if (age < 17 && (relation == "Pasangan" || relation == "Orang Tua Kandung" || relation == "Orang Tua Angkat")) {
            alertify.alert("Usia Orang Tua dan Pasangan harus lebih dari 17 Tahun");
            datePickerInput.val("");
            ageinput.val(""); return;
        }

        if (relation == "Orang Tua Kandung" && age <= mainInsuredAge) {
            alertify.alert("Usia Orang Tua harus lebih besar daripada usia Tertanggung Utama");
            datePickerInput.val("");
            ageinput.val("");
        }

        getProduct(code,"#"+datePickerInput.attr('id'), function (product) {
            var minAge = roundNumber(parseInt(product["InsuredMinAge"]) / 12, 0);
            var maxAge = roundNumber(parseInt(product["PolicyHolderMaxAge"]) / 12, 0);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var dateBirth = datePickerInput.val().substring(0, 2);
            var monthBirth = datePickerInput.val().substring(3, 5);
            var yearBirth = datePickerInput.val().substring(6, 10);

            var dayDiff = dd - dateBirth;
            var yearDiff = yyyy - yearBirth;
            var monthDiff = (yearDiff * 12) + mm - monthBirth;
            monthDiff = dayDiff >= 0 ? monthDiff : monthDiff - 1;


            if (age >= minAge && age <= maxAge) {
                if (monthDiff >= 1 || age > 0) {
                    ageinput.val(age);
                } else {
                    alertify.alert("Minimal usia Tertanggung Tambahan adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                    datePickerInput.val("");
                    ageinput.val("");
                    return;
                }

            }
            else {
                if (minAge > 0) {
                    alertify.alert("Minimal usia Tertanggung Tambahan adalah " + minAge + " tahun dan maksimal adalah " + maxAge + " tahun!");
                }
                else {
                    alertify.alert("Minimal usia Tertanggung Tambahan adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                }

                datePickerInput.val("");
                ageinput.val("");
                return;
            }
        });
    }

    function getInputTypeByName(name) {
        if (name.indexOf("Nama") >= 0) {
            return "nama";
        } else if (name.indexOf("DateOfBirth") >= 0) {
            return "tanggal lahir";
        } else if (name.indexOf("Gender") >= 0) {
            return "jenis kelamin";
        } else if (name.indexOf("Age") >= 0) {
            return "umur";
        } else if (name.indexOf("Relationship") >= 0) {
            return "hubungan";
        }
    }

    function CheckTtgTambahan(isTTu,isFirst)
    {
        var el = $("#table_tt tr").eq(0).find("select[name*='Relationship']")[0];
        var value = el.value;
        var hubPHTU = dataNasabah.Relation; 
        if(isTTu == "Tidak")
        {   
            if (hubPHTU == "Pasangan")
                $(el).val("Pasangan");
            else if (hubPHTU.indexOf("Anak") >= 0)
                $(el).val("Orang Tua" + hubPHTU.replace("Anak", ""));
            else if (hubPHTU.indexOf("Orang Tua") >= 0)
                $(el).val("Anak" + hubPHTU.replace("Orang Tua", ""));

            if (!isFirst && value != el.value)
                alertify.alert("Tertanggung Tambahan 1 harus sama dengan Pemegang Polis");

            validateRelationship(el.value, 0);
        }
        return $(el).val();
    }

    function next() {
        var up = $('#@Html.IdFor(m => m.UangPertanggungan)').val();
        var premi = $('#@Html.IdFor(m => m.PremiBerkala)').val();
        var masaBayar = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var prod = $('#hdProdCode').val();

        if (parseInt(masaBayar) > 0 && masaBayar != null && masaBayar != "") {
            if (up != null && up != "" && parseInt(toDecimalFormat(up)) > 0) {
                if (prod == "HLLIFE")
                {
                    if (!validateLastInput())
                        return;
                    else
                        $("#form").submit();
                }else{
                        if(premi != null && premi != "" && parseInt(toDecimalFormat(premi)) > 0) {
                            $("#form").submit();
                        }
                        else {
                            alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
                        }
                    }
            }
            else {
                alertify.alert("Data Premi dan Uang Pertanggungan belum lengkap!");
            }
        }
        else {
            if (modeBayar == "sekaligus")
                alertify.alert("Minimal Masa Tunggu Tahapan adalah 5 tahun!");
            else
                alertify.alert("Minimal Masa Pembayaran Premi adalah 1 tahun!");
        }
    }
</script>
